#contact {
	display: inline-block;
	background-color: #000;
	color: #fff;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 20px;
	line-height: 75%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;	
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 65px;
}

#facebook, #twitter, #email, #linkedin {
	display: block;
	float: left;	
	width: 25%;
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
	font-size: 0;
}

li img {
	display: inline;
	height: 40px;
}

#whoa, #hi, #stuff	 {
	display:none;
}

#me {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 50px;
}

body {
	background: #fff;
	background-image: url("../images/me.png");
	background-repeat: no-repeat;
	background-position: 50%;
}

